/* ##TABLET VIEW */

@media screen and (min-width: 632px) {
  /* #display */

  .tablet-d-none {
    display: none;
  }

  .tablet-d-block {
    display: block;
  }

  /* #HERO */

  #hero .col {
    width: calc(100% / 3);
  }

  #hero .card {
    height: 100%;
  }

  #hero .col:first-of-type {
    width: calc(100% / 3 * 2);
  }

  #hero .card .col {
    width: 100%;
  }

  /* #PARTNERS */

  #partners .card .col:first-of-type {
    width: 30%;
  }

  #partners .card .col:last-of-type {
    width: 70%;
  }

  /* #BENEFIT */

  #benefit .col {
    width: 50%;
  }

  /* #ABOUT US */

  #about-us .col:first-of-type {
    width: 60%;
  }

  #about-us .col:last-of-type {
    width: 40%;
  }
}

/* ##DESKTOP VIEW */

@media screen and (min-width: 890px) {
  /* #display */

  .desktop-d-none {
    display: none;
  }

  .desktop-d-block {
    display: block;
  }

  /* #HERO */

  #hero .col {
    width: calc(100% / 3);
  }

  #hero .card {
    height: 100%;
  }

  #hero .col:first-of-type {
    width: calc(100% / 3 * 2);
  }

  #hero .card .col {
    width: 50%;
  }

  /* #PLANNING */

  #planning .col:first-of-type {
    width: 60%;
  }

  #planning .col:last-of-type {
    width: 40%;
    align-self: flex-end;
  }

  /* #PARTNERS */

  #partners .col:not(:first-of-type) .card {
    text-align: left;
  }

  /* #BENEFIT */

  #benefit .col {
    width: calc(100% / 3);
  }
}
