/* -- RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a:link,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul.fa-ul,
ol.fa-ol {
  --fa-li-margin: var(--li-margin);
  --fa-li-width: var(--li-width);
}

i {
  font-style: inherit;
}

/* --CUSTOM PROPS */

:root {
  --text-m: 1.5rem;
  --space-m: 2rem;

  --li-margin: 1em; /* margini lista FontAwesome */
  --li-width: 1.5em; /* markerwidth lista FontAwesome */

  --main-color: #9792e4;
  --secondary-color: #0084fd;
  --secondary-color-light: #b5ddff;
  --footer-color: #333333;

  --text-main-color: black;
  --text-main-color-invert: white;
  --text-secondary-color: #5a6e7f;
  --text-footer-color: #9792e4;
  --text-marked-color: #fdc15f;

  --grid-padding: 1rem;
  --container-padding: calc(var(--grid-padding) + 1rem);
}

/* -- GRID PROPS */

.container {
  max-width: 1180px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.container.tight {
  max-width: 800px;
}

.row {
  margin-left: calc(var(--grid-padding) * -1);
  margin-right: calc(var(--grid-padding) * -1);
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: var(--grid-padding);
}

/* -- UTIL PROPS */

.d-flex {
  display: flex;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a.btn {
  display: block;
  height: fit-content;
  width: fit-content;
  text-align: center;
  padding: 5px 18px;
  border-radius: 25px;
  background-color: var(--text-main-color-invert);
  color: var(--text-main-color);
  filter: brightness(1);
}

a.btn.primary {
  background-color: var(--main-color);
  color: var(--text-main-color-invert);
}

a.btn.hero {
  background-color: var(--secondary-color);
  color: var(--text-main-color-invert);
  padding-left: 50px;
  padding-right: 50px;
}

a.btn.trans {
  background-color: var(--text-secondary-color);
  color: var(--main-color);
}

a.btn:hover {
  filter: brightness(0.95);
}

a.btn:active {
  filter: invert(0.2);
}

.navbar {
  display: flex;
  align-items: center;
  width: fit-content;
}

.card {
  border-radius: 18px;
}

/* -- DEBUG */

/* .db {
  background-color: rgba(255, 0, 0, 0.236);
  border: 3px dashed black;
  background-clip: content-box;
  min-height: 50px;
} */

.db * {
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dotted black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db i::after {
  content: "X";
}

/* .db a::after {
  content: "Questo è un link";
} */

/* ---------------------------------------- */

/* ##display */

.mobile-d-none {
  display: none;
}

.mobile-d-block {
  display: block;
}

/* ##GENERAL */

section:nth-of-type(even) {
  background-color: var(--main-color);
  color: var(--text-main-color-invert);
}

section .container {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

/* ##HEADER */

header {
  background-color: var(--secondary-color);
  color: var(--text-main-color-invert);
}

header > .container {
  justify-content: space-between;
  align-items: center;
}

header .navbar li:not(#get-started-button),
header .menu-bars {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

header .navbar li {
  padding-left: 8px;
  padding-right: 8px;
}

/* ##HERO */

#hero {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

#hero .card {
  padding-top: var(--space-m);
  padding-right: var(--space-m);
  padding-bottom: 0;
  padding-left: var(--space-m);
}

#hero .col {
  width: 100%;
  min-height: fit-content;
  text-align: center;
}

#hero .card {
  height: 100%;
  background-color: var(--secondary-color-light);
}

#hero .card .col {
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}

#hero .card .row {
  height: 100%;
}

#hero .card .col:last-of-type {
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

#hero .card > *:not(.row),
#hero .card .col:first-of-type > * {
  margin-bottom: var(--space-m);
}

#hero img {
  max-height: 240px;
}

#hero p {
  color: var(--text-secondary-color);
  font-size: 1rem;
}

/* ##PLANNING */

#planning .col {
  width: 100%;
}

#planning .col:last-of-type .card {
  background-color: var(--text-main-color-invert);
  color: var(--text-main-color);
}

/* ##PARTNERS */

#partners .col {
  width: 100%;
}

#partners .col:first-of-type .card {
  background-color: transparent;
}

#partners .col .card {
  background-color: var(--main-color);
}

/* ##BENEFIT */

#benefit .col {
  width: 100%;
}

#benefit .card {
  background-color: var(--text-main-color-invert);
  color: var(--main-color);
}

/* ##ABOUT US */
#about-us .col {
  width: 100%;
}
