/* -- RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a:link,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul.fa-ul,
ol.fa-ol {
  --fa-li-margin: var(--li-margin);
  --fa-li-width: var(--li-width);
}

i {
  font-style: inherit;
}

/* --CUSTOM PROPS */

:root {
  --text-m: 1.5rem;
  --space-m: 8px;

  --li-margin: 1em; /* margini lista FontAwesome */
  --li-width: 1.5em; /* markerwidth lista FontAwesome */

  --main-color: #9792e4;
  --secondary-color: #0084fd;
  --secondary-color-light: #b5ddff;
  --footer-color: #333333;

  --text-main-color: black;
  --text-main-color-invert: white;
  --text-secondary-color: #5a6e7f;
  --text-footer-color: #9792e4;
  --text-marked-color: #fdc15f;

  --grid-padding: 1rem;
  --container-padding: calc(var(--grid-padding) + 0px);
}

/* -- GRID PROPS */

.container {
  max-width: 1180px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: calc(var(--grid-padding) * -1);
  margin-right: calc(var(--grid-padding) * -1);
}

.col {
  padding: var(--grid-padding);
}

/* -- UTIL PROPS */

.d-flex {
  display: flex;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  display: block;
  height: fit-content;
  width: fit-content;
  text-align: center;
  padding: 12px 18px;
  border-radius: 25px;
  background-color: var(--text-main-color-invert);
  color: var(--text-main-color);
  filter: brightness(1);
}

.btn.primary {
  background-color: var(--main-color);
  color: var(--text-main-color-invert);
}

.btn.hero {
  background-color: var(--secondary-color);
  color: var(--text-main-color-invert);
}

.btn.trans {
  background-color: var(--text-secondary-color);
  color: var(--main-color);
}

.btn:hover {
  filter: brightness(0.95);
}

.btn:active {
  filter: invert(0.2);
}

.navbar {
  display: flex;
  align-items: center;
  width: fit-content;
}

.navbar a {
  display: block;
  padding: 5px;
}

/* -- DEBUG */

.db {
  background-color: rgba(255, 0, 0, 0.236);
  border: 3px dashed black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db > * {
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dotted black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db i::after {
  content: "ℹ️";
}

/* .db a::after {
  content: "Questo è un link";
} */

/* ---------------------------------------- */
